{% load static %}
{% load extras %}
<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>Clients</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/w3.css' %}">
    <link rel="stylesheet" type="text/css" media="screen" href="{% static 'css/index.css' %}">
</head>

<body>
    <div id="parent" class="w3-display-container">
        <div id="clients-table" class="w3-center w3-display-topmiddle w3-margin-top w3-container">
            <table>
                <caption>Client Table</caption>
                <tr>
                    <th>Client Name</th>
                    <th>Contact Person</th>
                    <th>Contact Number</th>
                    <th>Projects</th>
                    <th>Action</th>
                </tr>

                {% for client in clients|get_all_clients %}
                    <tr data-record-id="{{ client.id }}">
                        <td><input class="client-name-field" type="text" value="{{ client.client_name }}" /></td>
                        <td><input class="client-con-person-field" type="text" value="{{ client.contact_person }}" /></td>
                        <td><input class="client-con-number-field" type="text" value="{{ client.contact_number }}" /></td>
                        <td class="w3-container">
                            <ul>
                                {% for project in clients|get_related_projects:client %}
                                    <li>{{ project.project_name }}</li>
                                {% endfor %}
                            </ul>
                        </td>
                        <td>
                            <button data-record-id="{{ client.id }}" class="save-button w3-button w3-green w3-margin-bottom">Save</button>
                            <button data-record-id="{{ client.id }}" class="delete-button w3-button w3-red">Delete</button>
                        </td>
                    </tr>
                {% endfor %}
            </table>
            <button class="add-button w3-button w3-blue w3-margin-top">Add</button>
        </div>
    </div>

    <script>
        var csrfToken = "{{ csrf_token }}";
    </script>
    <script src="{% static 'js/clients.js' %}"></script>
</body>

</html>